{% extends 'bootstrap/base.html' %}
{% import 'topnav.html' as topnav %}
{% import 'sidebar.html' as sidebar %}

{% block title %}
    Suraj's Portfolio Site {% if title %} - {{ title }}{% endif %}
{% endblock %}

{% block navbar %}
    {{ topnav }}
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-sm-1 sidebar-offcanvas" id="sidebar" role="navigation">
       {#  <!--  {{ sidebar }} -->#}
        </div>
         {# application content needs to be provided in the app_content block #}
        <div class="col-sm-9">
                {% block app_content %}
                {% endblock %}
        </div>
        <div class="col-sm-2">
            {% if projectdesc %}
                {{ projectdesc | safe}}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}