<div class="sidebar-nav">
    <ul class="nav flex-column">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="/index">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/investments">Investments</a></li>
        <li class="nav-divider"></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>
</div>

<!--
<nav class="navbar navbar-left">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav flex-column">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/investments">Investments</a></li>
                </ul>
            </div>
        </div>
    </nav>
 -->