{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <h3>Local Weather in Madison, Wi </h3>
</div>

    <div class="container">
    <table class="table table-hover table-sm" style="width:80%">
        <tr>
            <td class="col-md-1"><h4>Hour</h4></td>
            <td class="col-md-1"><h4>Weather</h4></td>
            <td class="col-md-1"><h4>Temp (f)</h4></td>
            <td class="col-sm-1"><h4>Feels Like (f)</h4></td>
            <td class="col-sm-1"><h4>Wind Speed</h4></td>
        </tr>
            {% for h in range(hrstart,hrstart+48) %}
                    <tr><td>{% if h-24*(h//24) <= 12 %}
                            {{ h-24*(h//24) }} am
                        {% else %}
                            {{ h-12*(h//12) }} pm
                        {% endif %}</td>
                        <td><img src="http://openweathermap.org/img/wn/{{ all[h-hrstart].weather[0].icon }}@2x.png" style="width:32px;height:32px;">{{ all[h-hrstart].weather[0].description }}</td>
                        <td>{{ all[h-hrstart].temp }}</td>
                        <td>{{ all[h-hrstart].feels_like }}</td>
                        <td>{{ all[h-hrstart].wind_speed }}</td>
                        </tr>
            {% endfor %}
    </table>
    </div>
<div class="container">

</div>
{% endblock %}